body {
  margin-top: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content, .timer {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  outline: 1px solid black;
}

.content td, th {
  border: 5px solid white;
  padding: 8px;
}

.content th {
  text-align: center;
  background-color: #9A9A9A;
}

.content td {
  text-align: left;
  background-color: #f07957;
}

.timer {
  margin-top: 10px;
  outline: none;
}

.countdown {
  text-align: right;
}

.hour {
  text-align: left;
}

table {
  margin: auto;
}

tr {
  text-align: left;
}

ul {
  top: 0px;
  padding-right: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  text-align: left;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.ocean {
  background-color: rgb(38, 153, 225);
}

.ocean li a {
  color: white
}

.ocean li a:hover {
  background-color: blue;
  color: white;
}

.normal {
  background-color: #f1f1f1;
}

.normal li a {
  color: black;
}

.normal li a:hover {
  background-color: #555;
  color: white;
}